<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecosys App Manager</title>
    <link rel="stylesheet" href="/css/installed.css">
</head>
<body>
    <div class="container">
        <h1>App Manager</h1>
        
        <div class="tab">
            <button class="tablinks" onclick="openSection(event, 'Installed')">Installed</button>
        </div>
        
        <div id="Installed" class="section active">
            {{range .}}
            <div class="card">
                <div class="button-group">
                    {{if ne .Type "grapin"}}
                        <button onclick="launchApp('{{.AppName}}')">Launch</button>
                    {{end}}
                    <button onclick="deleteApp('{{.AppName}}')">Delete</button>
                </div>
                <img src="https://via.placeholder.com/300" alt="App Image">
                <div class="card-content">
                    <div class="card-title">{{.AppName}}</div>
                    <div class="card-description">{{.Type}}</div>
                </div>
            </div>
            {{end}}
        </div>
    </div>

    <script src="/js/installed.js"></script>
</body>
</html>